html
    head
      title= Portfolio
      link(rel='stylesheet', href='/styles/style.css')
      link(rel='stylesheet', href='/styles/normalize.css')
      style
        include includes/styles.css
    body
      .hero-outer-wrapper
        include includes/navigation.pug
        include includes/hero.pug
 
