html
    head
      title= Portfolio
      link(rel='stylesheet', href='/styles/normalize.css')
      link(rel='stylesheet', href='/styles/style.css')

    body
      .hero-outer-wrapper
        include includes/navigation.pug
        include includes/hero.pug
      .project-wrapper
        include includes/project.pug
 
